.action{
    width: 50%;
    display: flex;
}
.search {
    margin-left: 10px;
}
.Pagination {
    margin-bottom: 10px;
}
.ListProduct {
    margin: 0px 8px;
    margin-top: 30px;
    width: calc(100% - 16px);
}
@media only screen and (max-width: 539px) {
    /* PC Điện thoại nhỏ hơn 539px */
    .action{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    .search {
        order: 1;
        margin-bottom: 10px;
        margin-left: 0px;
    }
    .BtnAdd {
        order: 2;
    }
}
@media only screen and (min-width: 540px) and (max-width: 719px) {
    /* Điện thoại màn hình lớn thua IPAD */
    .action{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    .search {
        order: 1;
        margin-bottom: 10px;
        margin-left: 0px;
    }
    .BtnAdd {
        order: 2;
    }
}